---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

export interface Props {
  title?: string | undefined;
  description?: string | undefined;
  image?: string | undefined;
}

const username = Astro.site?.host ?? "";
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const props = Astro.props;
const title = props.title ? `${props.title} | ${SITE_TITLE}` : SITE_TITLE;
const description = props.description || SITE_DESCRIPTION;
const image = props.image ? new URL(props.image, Astro.url) : null;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- <meta name="color-scheme" content="dark light" /> -->
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="sitemap" href="/sitemap-index.xml" />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
{image && <meta property="og:image" content={new URL(image, Astro.url)} />}

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
{image && <meta property="twitter:image" content={new URL(image, Astro.url)} />}

<!-- webmention -->
<link rel="webmention" href={`https://webmention.io/${username}/webmention`} />

<!-- indieauth -->
<link href="https://github.com/viseshrp" rel="me" />
